---
interface Props {
    id: string;
    title: string;
    description?: string;
    image?: string;
    project_date?: number;
}

const { id, title, description, image, project_date } = Astro.props;
---

<a href={`/projects/${id}`} class="projectCard">
    <div 
        class="projectImage"
        style={image ? `background-image: url('${image}')` : ''}
    ></div>
    
    {project_date && <p class="projectDate">{project_date}</p>}
    <div class="contentOverlay">
        <h3 class="projectTitle">{title}</h3>
        {description && <p class="projectDescription">{description}</p>}
    </div>
</a>

<style>
    @reference "../../styles/global.css";

    .projectCard {
        @apply relative block rounded-2xl overflow-hidden shadow-lg w-full aspect-square transition-all duration-200 ease-in-out;
    }

    .projectCard:hover {
        @apply transform scale-105 shadow-2xl;
    }

    .projectImage {
        @apply absolute inset-0 w-full flex-1 bg-gray-900 object-scale-down m-auto;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        max-height: 90%;
        max-width: auto;
        position: absolute;
        top: -10%;
    }

    .contentOverlay {
        @apply absolute bottom-0 left-0 w-full px-4 pt-16 pb-4 bg-linear-to-t z-10;
        background-image: linear-gradient(to top,  #111827 15%, rgba(0, 0, 0, 0)100%);
    }

    .projectTitle {
        @apply m-0 text-xl font-bold uppercase text-white;
        font-family: 'Roboto Mono', monospace;
        letter-spacing: 0.1em;
        text-shadow: 0 1px 4px rgba(0,0,0,0.8);
    }

    .projectDescription {
        @apply mt-2 text-sm text-gray-200 line-clamp-2;
        font-family: 'Roboto Mono', monospace;
        max-width: 90%;
  
    }

    .projectDate {
        @apply absolute top-4 right-4 m-0 text-xs text-white z-20 px-2 py-1 rounded-lg;
        font-family: 'Roboto Mono', monospace;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
    }
</style>